/* Main content */
body {
  margin: 0;
  background-color: #f3f3f3;
  background-image: url('background.jpg');
}
* {
  font-family: 'Century Gothic', Helvetica;
}

/* Main Page Layout */

/* Wrapper for the main page content, as well as the sidebar and shopping cart. */
#wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  /*position: relative;
	margin-top: 30px;
	min-width: 1200px;
	min-height: 680px; /*Keeps background coloring consistent*/
}

#content {
  order: 2;
  flex: 1;
  margin: 0 20px;
  min-width: 400px;
  max-width: 960px;
  background-color: white;
  padding: 5px 20px 50px 20px;
  border: 5px solid #4caf50;
  border-radius: 15px 15px 0 0;
}

#content a,
a:visited {
  color: darkcyan;
}

/* Put at the top left of the wrapper */
#sidenav {
  order: 1;
  flex: 0 0 200px;
  margin-left: 20px;
  align-self: flex-start;
}

/* Other styles for the main content div */

#content h1 {
  margin: 0; /* The default margin pushes past the wrapper */
  padding-top: 10px;
  border-bottom: 1px solid black;
  display: inline-block;
}

#content ul {
  margin-bottom: 0;
}

#content-header {
  position: relative
}

#content-header a {
  position: absolute;
  right: 0;
  top: 0;
}

#content-header h1 {
  margin-top: 25px;
}

#content-header button {
  cursor: pointer;
  font-weight: bold;
  border: 3px solid #ff512d;
  background-color: whitesmoke;
  padding: 5px 10px;
  border-radius: 6px;
}

/* Source table, should maybe be moved to its own file sometime */
#source_table {
}

#source_table th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #000;
}

#source_table tr:nth-child(even) {
  background-color: #efefef;
}

#tagList {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 15px;
}

.tagLabel {
  color: #4caf50;
  font-weight: bold;
  background-color: #e9f5e9;
  padding: 0 5px;
  margin-left: 10px;
}

/* Show problems and show tag tables */
/* Should be tweaked at some point, because it's stolen from a website */
#problems_table {
  border-collapse: collapse;
  width: 100%;
}

#problems_table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

#problems_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#problems_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#problems_table tr:hover {
  background-color: #ddd;
}
